

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">

        <div class="cuadro-form pr-5 pl-5 pt-4 pb-3  bg-white">
         <div class="texto-azul">Crear un Cliente</div>
         <form class="example-form" [formGroup]="registerForm" novalidate (submit)="onSubmit()">

          <div class="form-group">
           <mat-form-field class="super-full-width ">
             <mat-label>Nombre</mat-label>
                    <input matInput  formControlName="nombre" maxlength="50" >
                    <mat-error  *ngIf="f.nombre.invalid && f.nombre.hasError('required')">El nombre es obligatorio</mat-error>

            </mat-form-field>
         </div>

           <div class="form-group">
             <mat-form-field class="super-full-width ">
                 <input class="input-text" formControlName="apellidos" matInput type="text" maxlength="10" placeholder="Apellidos"   >
                 <mat-error class="messsage-error">
                     <mat-error class="messsage-error" *ngIf="f.apellidos.invalid && f.apellidos.hasError('required')">el apellido es obligatorio</mat-error>

                 </mat-error>
             </mat-form-field>
           </div>
           <button  class="btn btn-success w-100"  type="submit">
             Guardar
       </button>

         </form>
      </div>
      </div>
      <div class="col-md-6">

        <div *ngFor="let item of clients ">
         <div class="alert alert-success" role="alert" >
             {{item.nombre}} {{item.apellidos}}

             <div class="float-right"  (click)="eliminar(item)">
              <i class="fas fa-trash"></i>
             </div>
           <div class="float-right mx-5" data-toggle="modal" data-target="#exampleModal"  (click)="editar(item)">
            <i class="fas fa-pencil-alt"></i>
           </div>
           <div class="float-right "  (click)="deudas(item.id)">
            <i class="fas fa-align-justify"></i>
           </div>
        </div>
        </div>
      </div>
    </div>
   </div>


     <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title texto-azul" id="exampleModalLabel">Editar: {{nombre}}  </h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  [formGroup]="editForm" (ngSubmit)="OnSubmitEdit()" #form="ngForm">
          <div class="form-group">
            <mat-form-field class="super-full-width ">
              <mat-label>Nombre</mat-label>
                     <input matInput  formControlName="nombre" maxlength="50"  >
                     <mat-error  *ngIf="e.nombre.invalid && e.nombre.hasError('required')">El nombre es obligatorio</mat-error>

             </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field class="super-full-width ">
              <mat-label>Apellido</mat-label>
                <input class="input-text" formControlName="apellidos" matInput type="text" maxlength="10" >
                <mat-error class="messsage-error">
                    <mat-error class="messsage-error" *ngIf="e.apellidos.invalid && e.apellidos.hasError('required')">La unidad Medida es obligatorio</mat-error>

                </mat-error>
            </mat-form-field>
          </div>

          <button class="btn btn-secondary mt-3 w-100" type="submit">Editar</button>
        </form>

      </div>

    </div>
  </div>
</div>
